<h1>Rooms</h1>

<%= turbo_stream_from :rooms %>

<ul>
<%= turbo_frame_tag :rooms do %>
    <% @rooms.each do |room| %>
      <%= render room %>
    <% end %>
<% end %>
</ul>

<%= form_with model: Room do |form| %>
  <%= form.text_field :name %>
  <%= form.submit 'Create' %>
<% end %>
