<%= link_to 'Back', rooms_path %>

<%# turbo_stream_from "room_#{@room.id}" %>
<%= turbo_stream_from @room %>

<%# turbo_frame_tag "room_#{@room.id}" do %>
<%= turbo_frame_tag @room do %>
    <h1><%= @room.name %></h1>

    <ul id="users">
        <% @room.users.each do |user| %>
        <li><%= user.email %></li>
        <% end %>
    </ul>

    <% if @room.users.include?(current_user) %>
    <%= button_to 'Leave', leave_room_path(@room) %>
    <% else %>
    <%= button_to 'Join', join_room_path(@room) %>
    <% end %>
<% end %>
