<!DOCTYPE html>
<html>
  <head>
    <title>ShittyDisBack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'alerts', locals: { messages: alert } %>
    <ul class="notices">
      <% Array(notice).each do |message| %>
      <li class="message"><%= message %></li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
